/* ===== Global Reset & Base ===== */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  margin: 0 0;
  font-family: 'Michroma', 'Noto Sans TC', sans-serif;
  background: url('public/img/bg.jpg') no-repeat center center fixed;
  background-color: #000;
  background-size: cover;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}